HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/application.properties
build.gradle
_carefriends-1e6d8-firebase-adminsdk-711ao-fe8d4dfe39.json
_experiment-77bf3-firebase-adminsdk-mt0k3-79cb351c0d.json
carefriends-1e6d8-firebase-adminsdk-711ao-6a5cb05015.json

Dockerfile
docker-compose.yml
